<tr>
  <td><%= url_address.site_url %></td>
  <td>
    <%= link_to("编辑", edit_admin_url_address_path(url_address), class: "btn btn-xs btn-primary")%>|
    <%= link_to("删除", admin_url_address_path(url_address), method: :delete, class: "btn btn-xs btn-primary")%>
  </td>
</tr>
