<div class="panel panel-default">
    <div class="panel-heading font-bold">
        编辑域名
    </div>
    <div class="panel-body">
      <%= render "form", url_address: @url_address %>
    </div>
</div>
