<div class="container-fluid">
  <div class="intro">
    <div class="sideMenu">
      <h2><em>/ </em>intro</h2>
      <ul id="list">
        <%= render(@contents) %>
      </ul>
    </div>
    <div class="read">
    </div>
  </div>
</div>
