<div class="intro">
  <div class="sideMenu">
    <h2><em>企业简介 / </em>intro</h2>
    <ul id="list">
      <li><a href="/contents/4/27.html">公司简介</a></li>

      <li><a href="/contents/4/28.html">办公环境</a></li>

      <li><a href="/contents/4/29.html">人才招聘</a></li>

      <li><a href="/contents/4/69.html">企业资质</a></li>
    </ul>
  </div>

  <div class="read">
  </div>
</div>
