<tr>
  <td><%= cooperation.title %></td>
  <td>
    <% cooperation.photos.each do |photo| %>
      <img src="<%= photo.avatar.url("zoe666") %>" >
    <% end %>
  </td>

  <td>
    <%= link_to("编辑", edit_admin_cooperation_path(cooperation), class: "btn btn-xs btn-primary")%>|
    <%= link_to("删除", admin_cooperation_path(cooperation), method: :delete, class: "btn btn-xs btn-primary")%>
  </td>
</tr>
