<div class="intro">
  <div class="sideMenu">
    <h2><em>我们的优势 / </em>介绍</h2>
    <ul id="list">

    </ul>
  </div>
  <div class="read">
    <p class="p1">
      <span class="s1">
       <strong>标题：我们是最厉害地3</strong>
       <br>
       <br>
       世界ladflasdfakslda;dsfjads;lfjasdlfk;asdjfasfaslf。 
      </span>
    </p>
  </div>
</div>
