<div class="panel panel-default">
    <div class="panel-heading font-bold">
        编辑文章
    </div>
    <div class="panel-body">
      <%= render "form", article: @article %>
      <%= link_to 'Show', admin_article_path(@article) %> |
      <%= link_to 'Back', admin_articles_path %>
    </div>
</div>
