<div class="panel panel-default">
  <div class="panel-heading">
    博客管理
    <div class="pull-right">
      <%= link_to "新建文章", new_admin_article_path, class: "btn btn-primary btn-xs" %>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped b-t b-light">
    <thead>
      <tr>
        <th>文章标题</th>
        <th>文章来源</th>
        <th>文章链接</th>
        <th style="width:150px;">创建时间</th>
        <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <%= render(@articles) %>
      </tbody>
    </table>
    <footer class="panel-footer">
      <%= render partial: "shared/admin/paginate", locals: { object: @articles } %>
    </footer>
   </div>
</div>
