<h1>Editing Admin Cooperation Pic</h1>

<%= render 'form', admin_cooperation_pic: @admin_cooperation_pic %>

<%= link_to 'Show', @admin_cooperation_pic %> |
<%= link_to 'Back', admin_cooperation_pics_path %>
