<div class="row">
  <div class="col-md-12">

     <h2> 寄送资讯 </h2>

     <table class="table table-striped table-bordered">
      <tbody>
        <tr>
          <td> 发件人姓名 </td>
        </tr>
        <tr>
          <td>
            <%= @email.name %>
          </td>
        </tr>
        <tr>
          <td>发件人邮箱 </td>
        </tr>
        <tr>
            <td>
              <%= @email.email_address %>
            </td>
        </tr>
        <tr>
          <td>邮件内容 </td>
        </tr>
        <tr>
            <td>
              <%= @email.content %>
            </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
