<div class="row">
  <div class="col-md-12">

     <h2> 寄送资讯 </h2>

     <table class="table table-striped table-bordered">
      <tbody>
        <tr>
          <td> 您好： <%= @email.name %></td>
        </tr>
        <tr>
          <td>我们已经收到您反馈的内容：</td>
        </tr>
        <tr>
            <td>
              <%= @email.content %>
            </td>
        </tr>
        <tr>
          <td>
            我们会尽快给您答复。
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
