<div class="panel panel-default">
  <div class="panel-heading">
    内容管理
    <div class="pull-right">
      <%= link_to "新建文字图片内容", new_admin_content_path(contents_class_id: params[:contents_class_id]), class: "btn btn-primary btn-xs" %>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped b-t b-light">
    <thead>
      <tr>
        <th>所属内容分类</th>
        <th>标题</th>
        <th>图片</th>
        <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <%= render(@contents) %>
      </tbody>
    </table>
  </div>
