<div class="panel panel-default">
  <div class="panel-heading">
    邮箱管理
    <div class="pull-right">
      <%= link_to "新建站点管理员", new_user_path, class: "btn btn-primary btn-xs" %>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped b-t b-light">
    <thead>
      <tr>
        <th>站点管理员姓名</th>
        <th>站点管理员邮箱</th>
        <th>站点域名</th>
        <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <%= render(@users) %>
      </tbody>
    </table>
  </div>

<footer class="panel-footer">
  <%= render partial: "shared/admin/paginate", locals: { object: @users } %>
</footer>

</div>
