<div class="panel panel-default">
    <div class="panel-heading font-bold">
        新建滑动图片
    </div>
    <div class="panel-body">
      <%= render "form", slider_picutre: @slider_picture %>
    </div>
</div>
