<p id="notice"><%= notice %></p>

<p>
  <strong>Footer:</strong>
  <%= @admin_class.Footer %>
</p>

<%= link_to 'Edit', edit_admin_class_path(@admin_class) %> |
<%= link_to 'Back', admin_classes_path %>
