<tr>
  <td><%= category.menu %></td>
  <td>
    <%= link_to("编辑", edit_admin_category_path(category), class: "btn btn-xs btn-primary")%>|
    <%= link_to("删除", admin_category_path(category), method: :delete, class: "btn btn-xs btn-primary")%>
  </td>
</tr>
