<div class="panel panel-default">
  <div class="panel-heading">
    菜单分类管理
    <div class="pull-right">
      <%= link_to "新建菜单", new_admin_category_path, class: "btn btn-primary btn-xs" %>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped b-t b-light">
    <thead>
      <tr>
        <th>菜单名称</th>
        <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <%= render(@categories) %>
      </tbody>
    </table>
  </div>
