<div class="panel panel-default">
  <div class="panel-heading">
    邮箱列表
  </div>

  <div class="table-responsive">
    <table class="table table-striped b-t b-light">
    <thead>
      <tr>
        <th>发件人姓名</th>
        <th>发件人联系邮箱</th>
        <th>邮件内容</th>
        <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <%= render(@emails) %>
      </tbody>
    </table>
  </div>

<footer class="panel-footer">
  <%= render partial: "shared/admin/paginate", locals: { object: @emails } %>
</footer>

</div>
