/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";


/* 导航css */
.header-site { background:#fff; width:100%; height:90px; position:fixed; top:0px; z-index:99; border-bottom:1px solid #e1e1e1}
.topNav-site{ width:90%; margin:0 auto;}
.topNav-site .logo{float:left;background: url(../images/img_logo.jpg) no-repeat left center;	width:260px;height:89px}
.clearfix-site:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.navBar-site{  float:right; width:60%;   position:relative; z-index:1; padding-left:10px;   height:60px; line-height:60px; background:url(images/line.gif) repeat-x 0 bottom #fff; color:#1d97ff;   }
.nav-site{ position:relative;  margin:20px auto 0 auto;float:right;}
.nav-site a{ color:#333;  }
.nav-site h3{  }
.nav-site .m{ float:left;  position:relative; z-index:1; }
.nav-site .s{ float:left; width:3px; text-align:center; color:#D4D4D4; font-size:16px; }
.nav-site h3 a{ display:block; width:124px; text-align:center; }

/*advantage*/
.info-default {
  opacity: 0;
  text-align: center;
  top: 0;
  right: 10px;
  bottom: 0;
  left: 10px;
  z-index: 4;
  color: #fff;
  display:block;
  position: absolute;
  width: auto;
 }
 .persona-advantage:hover  .info-default {
  opacity: 1
 }

/*copyright*/
.footerbox{ width:100%; position: relative; bottom: 10px; background-color:#3f5267; padding-top:1px }
.footer{ width:100%; margin:0 auto; padding-top:30px}
.footer .copyright{ overflow:hidden; width:100%; height:40px; display:block; border-top:1px solid #6281a3; padding-top:10px; color:#fff; text-align:center }

/*company introduction*/
.intro{ width:1200px; margin:0 auto 60px auto; overflow: hidden}
.sideMenu{width:270px; float:left}
.sideMenu h2{ padding:10px 0; color:#9d9d9d}
.sideMenu h2 em{color:#2c578d}
.sideMenu li{ float:left; margin:0 0 10px 0; line-height:50px; text-indent:30px;  background-color:#f3f3f3;border-radius:5px}
.sideMenu li a{ width:270px; height:50px; display:block; border-radius:5px }
.sideMenu li a:hover{color:#fff;background-color:#09357c;border-radius:5px  }
.sideMenu li.current a{background-color:#09357c; color:#fff;border-radius:5px  }
.read{ width:870px; padding:40px 10px 30px 10px; font-size:14px; line-height:28px;color:#727272; position:relative; float:right;}
