<%= simple_form_for [:admin, @advantage] do |f| %>
    <%= f.input :content,                label: "图片内容" %>
    <%= f.input :avatar,                label: "图片" %>
    <div class="line line-dashed b-b line-lg pull-in"></div>
    <div class="col-sm-10 col-sm-offset-2">
      <%= f.button :submit, "提 交", class: "btn btn-primary" %>
    </div>
<% end %>
