<div class="panel panel-default">
    <div class="panel-heading font-bold">
        编辑我们的优势图片
    </div>
    <div class="panel-body">
      <%= render "form", slider_picture: @advantages %>
    </div>
</div>
