<div class="panel panel-default">
    <div class="panel-heading font-bold">
        新建优势栏图片
    </div>
    <div class="panel-body">
      <%= render "form", advantage: @advantage %>
    </div>
</div>
