<br>
<br>
<br>
<br>
<br>
<div class="row" style="height: 561px;">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default" >
        <div class="panel-heading font-bold">
            <h2>联系我们</h2>
        </div>
        <div class="panel-body">
          <%= render "form", email: @email %>
        </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
