<div class="container">
  <% @site.advantages.each do |advantage| %>
     <div class="col-sm-4">
         <div class="persona-advantage-1">
             <a class="persona-advantage" href="">
                     <div class="info-default">
                         <h2><%= advantage.content %></h2>
                     </div>
                   <%= image_tag(advantage.avatar_url("zoe666")) %>
             </a>
         </div>
     </div>
  <% end %>
</div>
