<div class#="container-fluid" style="background-image: url(https://ws3.sinaimg.cn/large/006tKfTcgy1fmt0yddzctj318g0p0798.jpg);  -webkit-background-size: cover;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  height: 650px;
  background-size: 100%;
  margin:-19px 0px 0px 0px"
  style="opacity: 0;">
  <h2>
    <div style="text-align:center">
      <br>
      <%= @current_site.cooperation_string %>
    </div>
  </h2>
  <br>
  <div class="col-sm-11 col-sm-offset-1">
    <% @current_site.cooperations.each do |cooperation| %>
       <div class="col-sm-3">
           <br>
           <div class="persona-advantage-1">
              <a class="persona-advantage" href="<%#= @site.cooperation_url%>">
                <img src="<%= cooperation.avatar.url("zoe666") %>">
              </a>
           </div>
       </div>
    <% end %>
  </div>
</div>
