<div class="container">
  <div class="col-sm-4">
     <br>
     <div class="persona-advantage-1">
        <div class="info-default">
          <h2><%= @site.cooperation_string %></h2>
        </div>
        <a class="persona-advantage" href="/">
           <% if @site.cooperation_pics.present? %>
              <% @site.cooperation_pics.each do |i| %>
                <img src="<%= i.avatar.url("zoe666") %>">
              <% end %>
           <% end %>
         </a>
     </div>
  </div>
</div>
