<div class="container">
  <% ContentsClass.find_by("id": "5a3a08003cfe06d022138a35").contents.each do |content| %>
     <div class="col-sm-4">
         <br>
         <div class="persona-advantage-1">
             <a class="persona-advantage" >
               <div class="info-default">
                   <h2><%= content.title %></h2>
               </div>
               <% if content.photos.present? %>
                  <% content.photos.each do |i| %>
                     <img src="<%= i.avatar.url("zoe666") %>">
                  <% end %>
               <% end %>
             </a>
         </div>
     </div>
  <% end %>
</div>
