<!-- banner positon including navbar and site_copyright -->
<div class="header">
<div class="topNav">
    <!-- 显示当前公司站点的logo-->
    <img class="logo" src="<%= @site.avatar.url("zoe666") %>" >
  <div class="navBar">
    <ul class="nav clearfix">
      <li class="m">
        <% @site.categories.each do |category| %>
          <h3><%= link_to category.menu, category.menu_url %></a></h3>
          <li class="s">|</li>
        <% end %>
      </li>
      <!-- 滑动块 -->
      <li class="block" style="left: -3px;"></li>

    </ul>
  </div>
</div>

<script type="text/javascript">

(function(){
    var ind = 0; //初始位置
    var nav= jQuery(".nav");
    var init = jQuery(".nav .m").eq(ind);
    var block = jQuery(".nav .block"); //滑块
    block.css({"left":init.position().left-3}); //初始化滑块位置
    nav.hover(function(){},function(){ block.animate({"left":init.position().left-3},100); }); //移出导航滑块返回

    jQuery(".nav").slide({
        type:"menu", //效果类型
        titCell:".m", // 鼠标触发对象
        targetCell:".sub", // 效果对象，必须被titCell包含
        delayTime:300, // 效果时间
        triggerTime:0, //鼠标延迟触发时间
        returnDefault:true,//on返回初始位置
        defaultIndex:ind,//初始位置
        startFun:function(i,c,s,tit){ //控制当前滑块位置
          block.animate({"left":tit.eq(i).position().left-3},100);
        }
      });
})()

</script>

</div>
