<!-- banner positon including navbar and site_copyright -->
  <div class="header">
    <div class="topNav">
      <!-- 显示当前公司站点的logo-->
      <img class="logo" src="<%= @site.avatar.url("zoe666") %>" >
      <!-- 显示菜单内容 -->
      <div class="navBar">
        <ul class="nav clearfix">
            <% @site.categories.each do |category| %>
              <td><%= link_to category.menu, category.menu_url %> </td>
            <% end %>
        </ul>
      </div>
    </div>
  </div>
