<%= simple_form_for [:admin, @contents_class] do |f| %>
      <%= f.input :name, label: "内容分类名" %>
    <div class="line line-dashed b-b line-lg pull-in"></div>
    <div class="col-sm-10 col-sm-offset-2">
      <%= f.button :submit, "提 交", class: "btn btn-primary" %>
      <%= link_to "返 回", contents_classes_path, class: "btn btn-default" %>
  </div>
<% end %>
