<div class="panel panel-default">
  <div class="panel-heading">
      内容分类列表
    <div class="pull-right">
      <%= link_to "新建内容分类", new_admin_contents_class_path, class: "btn btn-primary btn-xs" %>
    </div>
  </div>
   <div class="table-responsive">
    <table class="table table-striped b-t b-light">
      <thead>
        <tr>
          <th>分类名</th>
          <th style="width:120px;">创建时间</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
          <%= render(@contents_classes) %>
      </tbody>
    </table>
  </div>

</div>
