<%= simple_form_for [:admin, @site] do |f| %>
    <%= f.input :site_name,                label: "站点名字" %>
    <div class="line line-dashed b-b line-lg pull-in"></div>
    <div class="col-sm-10 col-sm-offset-2">
        <%= f.button :submit, "提 交", class: "btn btn-primary" %>
        <%= link_to "返 回", admin_sites_path, class: "btn btn-default" %>
    </div>
<% end %>
