<div class="panel panel-default">
  <div class="panel-heading">
     站点列表
    <% if can? :manage, Site %>
      <div class="pull-right">
        <%= link_to "新建站点", new_admin_site_path, class: "btn btn-primary btn-xs" %>
      </div>
    <% end %>
  </div>
  <div class="table-responsive">
    <table class="table table-striped b-t b-light">
    <thead>
      <tr>
        <th>站点名称</th>
        <th>站点域名</th>
        <th>操作</th>
        </tr>
      </thead>
      <tbody>
         <%= render(@sites) %>
      </tbody>
    </table>
  </div>

  <footer class="panel-footer">
   <%= render partial: "shared/admin/paginate", locals: { object: @sites } %>
  </footer>



</div>
